body {

  $color-primary-100: #cccccc;
  $color-primary-200: #b3b3b3;
  $color-primary-300: #999999;
  $color-primary-400: #808080;
  $color-primary-500: #666666;
  $color-primary-600: #4d4d4d;
  $color-primary-700: #333333;
  $color-gray-200: #b3b3b3;
  $color-gray-300: #999999;
  $color-gray-400: #808080;
  $color-gray-500: #666666;
  $color-gray-600: #4d4d4d;
  $color-gray-700: #333333;
  $red: #FF5733;

  $border-radius: 6px;

  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .input-wrapper {
    position: relative;

    input {
      border: 1px solid gray;
      border-radius: $border-radius;
      position: relative;
      width: 260px;
      margin: 10px 0;
      line-height: 6ex;
      padding: 0 1rem;

      &:focus {
        outline: none !important;
      }
    }

    label {
      position: absolute;
      top: 0.2ex;
      font-size: 0.85rem;
      z-index: 1;
      left: 2em;
      background-color: white;
      padding: 0 5px;
    }
  }

  .text-small {
    font-size: 0.85rem;
  }

  .text-large {
    font-size: 1.5rem;
  }

  .font-bold {
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .btn {
    background-color: $color-primary-100;
    color: $color-gray-700;
    border-radius: $border-radius;
    width: 100%;
    padding: 0.65rem 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 1rem;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-200;
    }
  }

  .content {
    width: 80%;
    max-width: 1000px;
    margin: 1rem auto;

    .sign-in {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20vh;
      width: 100%;
      max-width: 600px;


      .error {
        font-size: 0.7rem;
        color: $red;
        height: 14px;
        width: 100%;
        text-align: center;
      }

      .inputs {
        margin-top: 40px;
      }

      .sign-up-link {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }


}