body {

  $color-primary-100: #cccccc;
  $color-primary-200: #b3b3b3;
  $color-primary-300: #999999;
  $color-primary-400: #808080;
  $color-primary-500: #666666;
  $color-primary-600: #4d4d4d;
  $color-primary-700: #333333;
  $color-gray-200: #b3b3b3;
  $color-gray-300: #999999;
  $color-gray-400: #808080;
  $color-gray-500: #666666;
  $color-gray-600: #4d4d4d;
  $color-gray-700: #333333;
  $red: #FF5733;
  $box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  $border-radius: 6px;

  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input {
    border: none;

    &:focus {
      outline: none !important;
    }
  }

  .input-wrapper {
    position: relative;

    input {
      border: 1px solid gray;
      border-radius: $border-radius;
      position: relative;
      width: 260px;
      margin: 10px 0;
      line-height: 6ex;
      padding: 0 1rem;
    }

    label {
      position: absolute;
      top: 0.2ex;
      font-size: 0.85rem;
      z-index: 1;
      left: 2em;
      background-color: white;
      padding: 0 5px;
    }
  }

  .text-small {
    font-size: 0.85rem;
  }

  .text-large {
    font-size: 1.5rem;
  }

  .font-bold {
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .btn {
    background-color: $color-primary-100;
    color: $color-gray-700;
    border-radius: $border-radius;
    width: 100%;
    padding: 0.65rem 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 1rem;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-200;
    }
  }

  .icon-sm {
    font-size: 1rem
  }

  .icon-md {
    font-size: 1.5rem;
  }

  .icon-lg {
    font-size: 2rem;
  }

  .content {
    width: 80%;
    max-width: 1000px;
    margin: 1rem auto;

    .sign-in {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20vh;
      width: 100%;
      max-width: 600px;


      .error {
        font-size: 0.7rem;
        color: $red;
        height: 14px;
        width: 100%;
        text-align: center;
      }

      .inputs {
        margin-top: 40px;
      }

      .sign-up-link {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .dashboard {
    padding: 1rem;

    .top-nav {
      height: 80px;

      div {
        display: inline-block;
      }

      .add-website {
        width: calc(50% - 130px);

        .btn {
          width: 100px;
          margin-left: 40px;
        }
      }

      .search {
        width: 260px;
        padding: 1rem 0;

        .search-wrapper {
          position: relative;
          border-bottom: 2px solid $color-gray-600;
          width: 100%;
          height: 32px;

          .search-icon {
            position: absolute;
            top: 6px;
            left: 6px;
            color: $color-gray-500;
            font-weight: 600;
          }

          input {
            margin: 4px 0 4px 32px;
            font-size: 1rem;
            font-weight: 600;

            &::placeholder {
              color: $color-gray-300;
            }

          }

          &:focus {
            border-bottom: color-gray-700;

            .search-icon {
              color: $color-gray-700;
            }
          }
        }
      }

      .settings {
        position: relative;
        padding: 1rem;
        float: right;

        .settings-icon {
          color: $color-gray-300;

          &:hover {
            cursor: pointer;
            color: $color-gray-400
          }
        }

        .settings-menu {
          position: absolute;
          width: 220px;
          top: 50px;
          right: 10px;
          // border: 1px solid #dadce0;
          border-radius: $border-radius;
          box-shadow: $box-shadow;

          .settings-option {
            padding: 8px 16px;
            padding: 8px 16px;
          }
        }
      }
    }
  }


}