body {

  $color-primary-100: #cccccc;
  $color-primary-200: #b3b3b3;
  $color-primary-300: #999999;
  $color-primary-400: #808080;
  $color-primary-500: #666666;
  $color-primary-600: #4d4d4d;
  $color-primary-700: #333333;
  $color-white: #ffffff;
  $color-gray-100: #f8f8f8;
  $color-gray-200: #cccccc;
  $color-gray-300: #a6a6a6;
  $color-gray-400: #808080;
  $color-gray-500: #666666;
  $color-gray-600: #4d4d4d;
  $color-gray-700: #333333;
  $red: #FF5733;
  $box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  $border-radius-sm: 2px;
  $border-radius: 6px;
  $border-radius-lg: 16px;

  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input {
    border: none;

    &:focus {
      outline: none !important;
    }
  }

  .input-wrapper {
    position: relative;

    input {
      border: 1px solid gray;
      border-radius: $border-radius;
      position: relative;
      width: 260px;
      margin: 10px 0;
      line-height: 6ex;
      padding: 0 1rem;
    }

    label {
      position: absolute;
      top: 0.2ex;
      font-size: 0.85rem;
      z-index: 1;
      left: 2em;
      background-color: white;
      padding: 0 5px;
    }
  }

  .text-small {
    font-size: 0.85rem;
  }

  .text-large {
    font-size: 1.5rem;
  }

  .font-bold {
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .btn {
    background-color: $color-primary-100;
    color: $color-gray-700;
    border-radius: $border-radius;
    width: 100%;
    padding: 0.65rem 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 1rem;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-200;
    }
  }

  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;

    .modal-background {
      opacity: 0.5;
      background-color: $color-gray-700;
    }
  }

  .icon-sm {
    font-size: 1rem
  }

  .icon-md {
    font-size: 1.5rem;
  }

  .icon-lg {
    font-size: 2rem;
  }

  .content {
    width: 80%;
    max-width: 1000px;
    margin: 1rem auto;

    .sign-in {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20vh;
      width: 100%;
      max-width: 600px;


      .error {
        font-size: 0.7rem;
        color: $red;
        height: 14px;
        width: 100%;
        text-align: center;
      }

      .inputs {
        margin-top: 40px;
      }

      .sign-up-link {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .dashboard {
    padding: 1rem;

    .top-nav {
      height: 80px;

      div {
        display: inline-block;
      }

      .nav-icon-wrapper {
        display: flex;
        align-items: center;
        border-radius: $border-radius-sm;
        padding: 12px;

        .label {
          max-width: 0;
          white-space: nowrap;
          transition: max-width 0.3s ease-in-out;
          overflow: hidden;
          margin: 0 12px;
          color: $color-gray-700;
        }

        .nav-icon {
          color: $color-gray-600;
        }

        &:hover {
          cursor: pointer;
          background-color: $color-gray-100;

          .label {
            display: inline;
            max-width: 300px;
          }

          .nav-icon {
            color: $color-gray-700;
          }
        }
      }

      .add-website {
        width: calc(50% - 130px);

        .btn {
          width: 100px;
          margin-left: 40px;
        }
      }

      .search {
        position: relative;
        width: 260px;
        padding: 1rem 0;

        .search-blur {
          position: fixed;
          z-index: 99;
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;
          opacity: 1;
          background-color: $color-white;
          transition: z-index 0.5s step-end, opacity 0.5s ease-in-out;

          &.show-dashboard {
            opacity: 0;
            z-index: -1;
          }
        }

        .search-wrapper {
          position: fixed;
          z-index: 100;
          left: 50%;
          top: 42%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          box-shadow: $box-shadow;
          transition: all 0.2s ease-in-out;
          border-radius: 33px;
          padding: 1px 75px;
          width: 320px;
          height: 66px;

          &.show-dashboard {
            border-radius: 22px;
            padding: 1px 50px;
            width: 260px;
            height: 44px;
            top: 60px;

            .search-icon {
              font-size: 1rem;
              top: 14px;
              left: 20px;
            }

            input {
              font-size: 1rem;
              font-weight: 600;
              line-height: 42px;
            }
          }

          .search-icon {
            position: absolute;
            font-size: 1.5rem;
            top: 21px;
            left: 30px;
            color: $color-gray-500;
            font-weight: 600;
            transition: all 0.2s ease-in-out;
          }

          input {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 63px;
            transition: all 0.2s ease-in-out;
            width: 100%;


            &::placeholder {
              color: $color-gray-300;
            }

          }

          &:focus {
            border-bottom: color-gray-700;

            .search-icon {
              color: $color-gray-700;
            }
          }
        }
      }

      .settings {
        position: relative;
        float: right;

        .settings-menu {
          position: absolute;
          width: 220px;
          top: 50px;
          right: 10px;
          border: 1px solid #dadce0;
          border-radius: $border-radius-sm;
          box-shadow: $box-shadow;

          .settings-option {
            padding: 8px 16px;
            padding: 8px 16px;
          }
        }
      }
    }
  }


}